<!DOCTYPE html>
<html lang="zh-CN">
<head>
<include file="Public/head"/>
    <link href="http://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">
</head>
<style type="text/css">
.scrollspy {
height: 400px;
overflow: auto;
position: relative;
}
</style>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"></h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="{:U('Subject/subjectlist?type=web')}">题目</a></li>
              <li><a href="{:U('Users/myself')}">关于我</a></li>
              <li><a href="{:U('Users/rank')}">比赛排名</a></li>
              <li class="active"><a href="{:U('Users/report')}">公示</a></li>
              <li><a href="{:U('Login/logout')}">退出</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="mastbody">
        <div class="row">
          <div class="col-md-6">
            <h3>提示和警告</h3>
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th><h4>tips and warnning</h4></th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <th><span class="glyphicon glyphicon-exclamation-sign"></span> 大家不要用扫描器扫描服务器</th>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <th><span class="glyphicon glyphicon-bell"></span> code题目的所有函数自行百度</th>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <h3>FIRST BLOOD</h3>
                      <div  class="scrollspy">
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspweb-100&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspweb-200&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspweb-300&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspweb-500&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspmisc-100&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspmisc-200&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspmisc-300&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspmisc-500&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspcode-100&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspcode-200&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspcode-300&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspcode-500&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspreverse-100&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspreverse-200&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspreverse-300&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                        <h4 class="text-right"><span class="glyphicon glyphicon-gift"></span>&nbspreverse-500&nbsp&nbsp&nbsp&nbsp</h4>
                        <h5>sixwhale在web100中获得第一滴血</h5>
                      </div>
            </div>
          </div>
        </div>
      <div class="mastfoot">
        <include file="Public/footer"/>
      </div>
    </div>

  </div>
</div>



</div>

<!-- Placed at the end of the document so the pages load faster -->

    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</html>
