<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <include file="Public/head"/>
  </head>
  <body class="skin-blue sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">
        <include file="Public/header"/>
      </header>
      <aside class="main-sidebar">
        <include file="Public/aside"/>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            后台首页
            <small>welcome to the admin page</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="callout callout-info">
              <h4>Welcome!</h4>
              <p>比赛时间：2016.10.15 - 2016.10.22</p>
          </div>
          <div class="box box-warning">
              <div class="box-header with-border">
                  <h3 class="box-title">登录信息</h3>
              </div>
              <div class="box-body">
                  您好，<strong>{:session('aname')}</strong> <br/>
                  所属角色∶超级管理员 <br/>
                  ------------------------------------- <br/>
                  上次登录时间∶{$_SESSION['alastdate']|date='Y-m-d H:i',###}<br/>
                  上次登录IP∶{:session('alastip')}
              </div><!-- /.box-body -->
          </div>
          <div class="box box-primary">
              <div class="box-header with-border">
                  <h3 class="box-title">服务器信息</h3>
              </div>
              <div class="box-body">
                  ThinkPHP版本∶ThinkPHP {$Think.THINK_VERSION} <br/>
                  操作系统∶{:php_uname()}<br/>
                  服务器软件∶{$SERVER_SOFTWARE}<br/>
                  MySQL版本∶{:mysql_get_server_info()}<br/>
                  PHP版本 : {:phpversion()}<br/>
              </div><!-- /.box-body -->
          </div>
          <div class="box box-success">
              <div class="box-header with-border">
                  <h3 class="box-title">技术支持</h3>
              </div>
              <div class="box-body">
                  版权所有：sixwhale <br/>
                  UI 设计：adminlte <br/>
                  Blog：<a href="http://sixwha1e.github.io" target="_blank">sixwhale's pages</a> <br/>
                  QQ：1216644301 <br/>
                  Email：wjsixwhale@gmail.com
              </div><!-- /.box-body -->
          </div><!-- /.box -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <include file="Public/footer"/>

      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
<include file="Public/js"/>
  </body>
</html>
