<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>DLNU CTF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Six Revisions">
  <meta name="description" content="How to use the CSS background-size property to make an image fully span the entire viewport.">
  <link href="http://fonts.googleapis.com/css?family=Kotta+One|Cantarell:400,700" rel="stylesheet" type="text/css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Not required: presentational-only.css only contains CSS for prettifying the demo -->
  <link rel="stylesheet" href="http://cdn.sixrevisions.com/0431-01_responsive_background_image_demo/presentational-only/presentational-only.css">

  <!-- responsive-full-background-image.css stylesheet contains the code you want -->
  <link rel="stylesheet" href="__PUBLIC__/cover.css">

  <!-- Not required: jquery.min.js and presentational-only.js is only used to demonstrate scrolling behavior of the viewport  -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://cdn.sixrevisions.com/presentational-only/presentational-only.js"></script>
</head>
<body>
  <nav class="navbar" id="top">
    <div class="inner">
      <a href="#">比赛规则</a>
    </div>
  </nav>
  <header class="container">
    <section class="content">
      <h1>XXXXXXXXXXXXXXXXX</h1>
      <p class="sub-title"><strong>XXXXXXXXXXXXX</strong> <br />XXXXX</p>
      <p><a class="button" id="load-more-content" href="{:U('Login/login')}">PLAYING</a></p>
      <p>XXXXXXXXXXXXXXXXX</p>
    </section>
  </header>
</body>
</html>
