<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <include file="Public/head"/>
  </head>
  <body class="skin-blue sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">
        <include file="Public/header"/>
      </header>
      <aside class="main-sidebar">
        <include file="Public/aside"/>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            排名
            <small>welcome to the admin page</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <include file="Public/footer"/>

      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
<include file="Public/js"/>
  </body>
</html>
