<!DOCTYPE html>
<html>
  <head>
    <include file="Public/head"/>
  </head>
  <body class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="__PUBLIC__/adminlte/index2.html"><b>DLNU CTF</b> MANAGE</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">DLNU CTF MANAGE LOGIN PAGE {$res}{$aname}</p>
        <form action="{:U('Login/test')}" method="post">
          <div class="form-group has-feedback">
            <input type="text" name="aname" class="form-control" placeholder="Admin" required/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" name="apassword" class="form-control" placeholder="Password" required/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8"></div>
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
            </div><!-- /.col -->
          </div>
        </form>
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    <!-- jQuery 2.1.4 -->
    <include file="Public/js"/>
  </body>
</html>
